*.SAFE/
*.RUT/
*.R10m/
*.xml
/ADC_quantisation.properties
/Crosstalk.properties
/DS_stability.properties
/Diffuser-absolute_knowledge.properties
/Diffuser-cosine_effect.properties
/Diffuser-straylight_residual.properties
/Diffuser-temporal_knowledge.properties
/Gamma_knowledge.properties
/Instrument_noise.properties
/L1C_image_quantisation.properties
/OOF_straylight-random.properties
/OOF_straylight-systematic.properties
